<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>::WEBFLEX 게시판 목록::</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
<link rel="stylesheet" type="text/css" href="../../../stylesheets/board/board.css" />
<link rel="icon" type="image/png" sizes="16x16" href="../../../images/index/new logo.png">
<style>
#a{color: black;}

#footer .footerbox {
   text-align : center;
   color:white;
   margin-left: auto;
   margin-right: auto;
}
#footer {
   text-align : center;
   background-color: black;
   background-repeat: no-repeat;
   opacity:100%;
   color: white;
   position: absolute;
   width: 100%;
}

#footer a {
   text-decoration: none;
   color: white;
}

#footer a:hover {
   text-decoration: none;
   color: red;
}

#footer .copyright {
   padding-bottom: 2em;
   color : white;
   border-style : none;
   top : 0;
   font-size: 0.7em;
}
#footer .copyright .center{
   display:block;
}
#footer .icons {
   text-align : center;
   font-size : inherit;
   list-style: none;
   text-decoration: none;
   display: inline-block;
}
#footer .icons:hover{
   text-align : center;
   font-size : inherit;
   top:10;
   text-decoration: none;
}
#footer ul{
   text-align: center;
}
#footer ul li{
   display: inline-block;
}
.write_btn{
	border: 1px solid #E50914;
	padding: 10px 15px 10px 15px;
	background: #E50914;
	color: white;
	transition : all 0.5s ease-out;
}
.write_btn:hover {
	border: 1px solid #E50914;
	padding: 10px 15px 10px 15px;
	background-color: white;
	color: #E50914;
	transition: background 0.5s ease-out;
	cursor: pointer;
}
#board_list{
	color: black;
}
</style>
</head>
<body>
<% include ./header/edit_header.ejs %>
<!-- Notice -->
<div id="sub">

<div class="title" style="margin-bottom:0px;">고객게시판</div>

<div class="sub_tab" width="1060px;" style="overflow:hidden; margin:0 auto; text-align:center;">
	<div class="sub_tab_menu"><a href="/notice/list">공지사항</a></div>
	<div class="sub_tab_menu on"><a href="/board/list">자유게시판</a></div>
	<div class="sub_tab_menu"><a href="/help_FAQ">FAQ</a></div>
	<div class="sub_tab_menu"><a href="/help_news">WEBFELX NEWS</a></div>
</div>
<br>
<br>
<% if(typeof status == 'undefined') {%> 
<% } else {%>
	<button onclick="location.href='/board/write';" class="write_btn">글쓰기</button>
<% } %> 
<div id="sub" style="width:1060px; padding:50px 0; margin:0 auto;">
	<table class="boardlist">
<thead>
	<tr>
		<th width="60">번호</th>
		<th width="">제목</th>
		<th width="100">글쓴이</th>
		<th width="120">날짜</th>
		<th width="80">조회수</th>
	</tr>
</thead>

<%if(typeof board == 'undefined') { %>
	<tbody>
		<tr>
			<th colspan="5">게시물 내용이 존재하지 않습니다.</th>
		</tr>
	</tbody>
<% } else { %> 
	<% for(let item of board.board){ %> 
	<tbody>
		<tr>
			<td class="num"><%= item.bno%></td>
			<td class="subject">
				<a  id="a" href="/board/cont?bno=<%= item.bno%>"><%= item.title%> </a>
			</td>
			<td class="txt"><%= item.writer%></td>
			<td class="num" id="date"><%= item["date_format(writedate, '%Y / %m / %d')"]%></td>
			<td class="num"><%= item.hit%></td>
		</tr>
	</tbody>
	<% } %> 
<% } %> 
</table>

	<div class="page" style="display: flex; justify-content : center;">
	<!-- 검색 전 페이징 -->
		
	<% if(board.page<=1){ %> 
	    	<div class="btn">
	     	&lt;
	     	</div>
	<% } %>
	<% if(board.page>1) { %> 
	    <div class="btn">
	     <a id="board_list" href="/board/list/<%= Number(board.page)-1%>">&lt;</a>
	    </div>
	<% } %> 
	<!-- 현재 쪽번호 출력 -->
	<% for(var i = board.startPage; i<=board.endPage; i++){ %> 
		<% if(i == board.page){ %> <!-- 현재 페이지가 선택 되었으면 -->
	      <div class="no_on">
	       <b><%= i%></b>
	      </div>
	    <% } else {%> <!-- 현재 페이지가 선택되지 않았으면 -->
			<div class="no">
			<a id="board_list" href="/board/list/<%= i%>">
			<%= i%>
			</a>
			</div>
	    <% } %> 
	<% } %> 
		
	<% if(board.page >= board.max){ %> 
	    <div class="btn">
	   	 &gt;
	   	</div>
	<% } %> 
	<% if(board.page < board.max){ %> 
	    <div class="btn">
	    	<a id="board_list" class="end" href="/board/list/<%= Number(board.page)+1%>">&gt;</a>
	     </div>
	<% } %> 
	</div>
<div>
</div>
</div>
	<br><br>
</div>
</div>
<script>
	function getFormatDate(date){
		var year = date.getFullYear();              
		var month = (1 + date.getMonth());          
		month = month >= 10 ? month : '0' + month;  
		var day = date.getDate();                   
		day = day >= 10 ? day : '0' + day;          
		return  year + ' / ' + month + ' / ' + day;       
	}
	const date = getFormatDate(new Date($('#date').text()));
	$('#date').text(date);
</script>
</body>
</html>